{% load static %}
<div class="containre mt-5 mb-5 text-capitalize">
    <h2 class="text-center text-capitalize">Our Team</h2>
    <div class="row justify-content-center">
      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate" style="width: 18rem;">
          <img src="{% static '' %}img/shoe.jpg" class="card-img-top rounded-pill" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team: Cyber Dev2</h5>
            <p class="card-text">Portfolio: jnr. dev.</p>
            <a href="https://www.facebook.com" class="btn btn-primary">Meet</a>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate" style="width: 18rem;">
          <img src="{% static '' %}img/istockphoto-681625260-1024x1024.jpg" class="card-img-top rounded-pill" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team: Cyber Dev2</h5>
            <p class="card-text">Portfolio: jnr. dev.</p>
            <a href="https://www.facebook.com" class="btn btn-primary">Meet</a>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate" style="width: 18rem;">
          <img src="{% static '' %}img/istockphoto-638385938-1024x1024.jpg" class="card-img-top rounded-cicle" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team Cyber Dev2</h5>
            <p class="card-text">Portfolio: jnr. dev.</p>
            <a href="#" class="btn btn-primary">Meet</a>
          </div>
        </div>
      </div>
    </div>
  </div>